<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html" xmlns:v-show="http://www.w3.org/1999/xhtml"
      xmlns:v-click="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:vo-on="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <title>学生选课系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css">
    <link type="text/css" href="__ROOT__/Public/css/mystyle.css" rel="stylesheet"/>
    <script type="text/javascript" src="__ROOT__/Public/js/vue.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/util.js"></script>

    <style>
        table thead tr th {
            text-align: center;
            vertical-align: middle;
        }

        table tbody tr td {
            text-align: center;
            vertical-align: middle;
        }

        body {

            font-size: 16px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" id="divHeader">
        <div class="navbar-header" style="margin-top: 5px">
            <a class="title-logo" href="#">学生选课系统</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="{:U('admin/TeacherManage')}">教师管理</a></li>
            <li><a href="{:U('admin/StudentManage')}">学生管理</a></li>
            <li class="active"><a href="#">教学楼管理</a></li>
            <li><a href="{:U('admin/AdminMain')}">信息管理</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div style="margin-top: 8px">欢迎您，{{currentuser.role|converterRole}}:{{currentuser.name}}</div>
            </li>
            <li>
                <button type="button" class="btn btn-link" v-on:click="logout" style="color: darkblue">
                    <span class="glyphicon glyphicon-log-out"></span> 注销
                </button>
            </li>
        </ul>
    </div>
</nav>

<div id="divApp">
    <div style="margin-bottom: 15px">
        <button class="btn btn-primary" v-on:click="addBuilding"
                style="height: 44px;text-align:right; display:inline; margin-left: 15px">
            <span class="glyphicon glyphicon-plus" style="padding-right: 5px"></span>添加教学楼
        </button>
    </div>

    <div id="" class="container-fluid" style="margin-bottom: 15px;margin-top: 20px">
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">教学楼记录
                <span class="badge" style="margin-left: 5px">{{records.length}}</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" align="center" v-show="records.length > 0"
                       style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th>教学楼编号</th>
                        <th>教学楼名称</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(record, index) in records">
                        <td>{{record.id}}</td>
                        <td>{{record.name}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" @click="deleteRecord(record)"
                                    data-toggle="tooltip" data-placement="top"
                                    title="删除"
                            >
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p v-show="records.length == 0"
               style="width: 100%; height: 200px; line-height: 200px; text-align: center; color: darkgray">
                暂无记录,请添加~~~</p>
        </div>

    </div>

    <!--Add item modal-->
    <div class="modal fade" id="addInfo" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h2>添加教学楼</h2>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <!-- 加上<form>标签可以使得modal窗口在点击按钮都自动dismiss-->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-3">教学楼编号:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       v-on:keyup="onKeyUp"
                                       v-model="newInfoModel.id"
                                       placeholder="教学楼编号,格式为字母和数字如 b0001"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">教学楼名称:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       v-on:keyup="onKeyUp"
                                       v-model="newInfoModel.name"
                                       placeholder="教学楼名称"/>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-danger" v-if="isError" style="margin-top: 10px;padding: 5px;">
                        {{errorMsg}}!
                    </div>

                    <button type="button" style="margin-top: 15px;" class="btn btn-success btn-block"
                            v-on:click="onAddInfoData">
                        <span class="glyphicon glyphicon-saved"></span> 确 定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteConfirmMsg" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="text-align: left">
                    <h3>提示</h3>
                </div>
                <div class="modal-body" style="font-size: 18px;font-family: FontAwesome">
                    <!-- 加上<form>标签可以使得modal窗口在点击按钮都自动dismiss-->
                    确认要删除编号为<b>"{{selectInfo.id}}"</b>的教学楼吗？
                    <button type="button" style="margin-top: 50px;font-size: 16px" class="btn btn-danger btn-block"
                            v-on:click="onConfirmDelete">确 定
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="submitMsg" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="text-align: left">
                    <h3>提示</h3>
                </div>
                <div class="modal-body" style="font-size: 20px">
                    <!-- 加上<form>标签可以使得modal窗口在点击按钮都自动dismiss-->
                    {{resultMsg}}!
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script>
    var appHeader = new Vue({
        el: '#divHeader',
        data: {
            currentuser: {},
            submitUrl: "{:U('admin/ajaxLogout')}",
        },
        methods: {
            logout: function () {
                $.ajax({
                    url: this.submitUrl,
                    type: 'POST',
                    dataType: 'json',
//                    data: '',
                    success: function (result) {
                        if (result.status) {
                            window.location.href = "{:U('admin/index')}";
                        }
                    },
                })
            },
        },
        created: function () {
            this.currentuser = JSON.parse('{$currentuser}');
        },
        filters: {
            converterRole: function (role) {
                return getRoleName(role);
            }
        },
    });

    var app = new Vue({
        el: '#divApp',
        data: {
            newInfoModel: {
                id: '',
                name: '',
            },
            selectInfo: {},
            records: [],
            resultMsg: '',
            errorMsg: '',
            isError: false,
            deleteUrl: "{:U('admin/ajaxDeleteBuilding')}",
            addInfoUrl: "{:U('admin/ajaxAddBuilding')}",

        },
        methods: {
            verifyForm: function () {
                this.isError = false;
                if (isStringEmpty(this.newInfoModel.id)) {
                    this.isError = true;
                    this.errorMsg = '教学楼编号不能为空';
                }
                else {
                    var existId = this.records.find(function (item) {
                        return item.id == app.newInfoModel.id;
                    });
                    if (existId) {
                        this.isError = true;
                        this.errorMsg = '教学楼编号:' + this.newInfoModel.id + '已经存在，请重新录入编号';
                    }
                    else if (!regIsDigAlphabet(app.newInfoModel.id)) {
                        this.isError = true;
                        this.errorMsg = '教学楼编号格式为字母和数字,如 \"b0001\" ';
                    }
                }
                if (!this.isError && isStringEmpty(this.newInfoModel.name)) {
                    this.isError = true;
                    this.errorMsg = '教学楼名不能为空';
                }
            },

            onKeyUp: function () {
                this.verifyForm();
            },
            addBuilding: function () {
                $("#addInfo").modal();
            }
            ,
            onAddInfoData: function () {
                this.verifyForm();
                if (!this.isError) {
                    $.ajax({
                        url: this.addInfoUrl,
                        type: 'POST',
                        dataType: 'json',
                        data: this.newInfoModel,
                        success: function (result) {
                            $("#addInfo").modal('hide');
                            if (result.status) {
                                document.location.reload();
                            } else {
                                app.resultMsg = '添加失败';
                                $("#submitMsg").modal();
                            }
                        },
                        error: function (data) {
                            $("#addInfo").modal('hide');
                            app.resultMsg = '添加失败';
                            $("#submitMsg").modal();
                        }
                    })
                }
            },

            deleteRecord: function (item) {
                this.selectInfo = item;
                if (this.selectInfo) {
                    $("#deleteConfirmMsg").modal();
                }
            }
            ,

            onConfirmDelete: function () {
                $("#deleteConfirmMsg").modal('hide');
                $.ajax({
                    url: this.deleteUrl,
                    type: 'POST',
                    dataType: 'json',
                    data: this.selectInfo,
                    success: function (result) {
                        var index = app.records.indexOf(app.selectInfo);
                        app.records.splice(index, 1);
//                        if (result.status) {
//                            document.location.reload();
//                        }
                        app.resultMsg = result.status ? '删除成功' : '删除失败';
                        $("#submitMsg").modal();
                    },
                })
            }
        }
        ,
        created: function () {
            this.records = JSON.parse('{$records}');
        }
        ,
    })
</script>