<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html" xmlns:v-show="http://www.w3.org/1999/xhtml"
      xmlns:v-click="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:vo-on="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <title>学生选课系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css">
    <link type="text/css" href="__ROOT__/Public/css/mystyle.css" rel="stylesheet"/>
    <script type="text/javascript" src="__ROOT__/Public/js/vue.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/util.js"></script>
    <style>
        table thead tr th {
            text-align: center;
            vertical-align: middle;
        }

        table tbody tr td {
            text-align: center;
            vertical-align: middle;
        }

        body {

            font-size: 16px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" id="divHeader">
        <div class="navbar-header" style="margin-top: 5px">
            <a class="title-logo" href="#">学生选课系统</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">开课管理</a></li>
            <li><a href="{:U('teacher/TeacherSchedule')}">课程表</a></li>
            <li><a href="{:U('teacher/index')}">信息管理</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div style="margin-top: 5px;" class="container-fluid">
                    欢迎您，
                    <b>{{currentuser.role|converterRole}}</b>:
                    <label style="color: #2aabd2;font-size: 20px;">
                        {{currentuser.name}}
                    </label>
                    <button type="button" class="btn btn-link" v-on:click="logout" style="color: darkblue">
                        <span class="glyphicon glyphicon-log-out"></span> 注销
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid" id="divApp">

    <div style="margin: 15px;">
        <button class="btn btn-primary" v-on:click="onAddNewCourse"
                style="height: 44px; ">
            <span class="glyphicon glyphicon-plus" style="padding-right: 5px"></span> 开设课程
        </button>
    </div>


    <div id="filterDiv">
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">筛选列表</h3>
                </div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">开课名称</label>
                                    <select v-model="filters.course_id" class="form-control"
                                            v-bind:style="{'color': filters.course_id == '' ? 'darkgray': '' }"
                                    >
                                        <option v-for="course in courses" v-bind:value="course.id">
                                            {{course.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">课程类别</label>
                                    <select v-model="filters.course_type" class="form-control"
                                            v-bind:style="{'color': filters.course_type < 0 ? 'darkgray': '' }"
                                    >
                                        <option v-for="course in course_typeItems" v-bind:value="course.id">
                                            {{course.name}}
                                        </option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">所属专业</label>
                                    <select v-model="filters.profession_id" class="form-control"
                                            v-bind:style="{'color': filters.profession_id =='' ? 'darkgray': '' }"
                                    >
                                        <option v-for="item in professions" v-bind:value="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">上课地点</label>
                                    <select v-model="filters.building_id" class="form-control"
                                            v-bind:style="{'color': filters.building_id =='' ? 'darkgray': '' }">
                                        <option v-for="item in buildings" v-bind:value="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">上课日期</label>
                                    <select v-model="filters.course_weekday" class="form-control"
                                            v-bind:style="{'color': filters.course_weekday <= 0 ? 'darkgray': '' }">
                                        <option v-for="item in weekdays" v-bind:value="item.value">
                                            {{item.text|converterWeekDay(item.value)}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">上课地点</label>
                                    <select v-model="filters.course_start_time" class="form-control"
                                            v-bind:style="{'color': filters.course_start_time <= 0 ? 'darkgray': '' }">
                                        <option v-for="item in courseTimes" v-bind:value="item.value">
                                            {{item.text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" style="text-align: left;  margin-top: 100px;">
                                    <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" style="width: 100px; "
                                            v-on:click="onSearchRecords">筛选
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" style="margin: 15px;">

        <div class="panel-heading panel-title" style="text-align: left;"
             v-on:click="onShowOrHideRecords">
            开课记录
            <span class="badge" style="margin-left: 5px">{{records.length}}</span>
        </div>
        <div class="table-responsive" v-show="isToggleRecords">
            <table class="table table-bordered table-hover" align="center" v-show="records.length > 0"
                   style="table-layout: fixed;">
                <thead>
                <tr>
                    <th>开课名称</th>
                    <th>课程属性</th>
                    <th>课程类别</th>
                    <th>学分</th>
                    <th>所属专业</th>
                    <th>上课地点</th>
                    <th>上课日期</th>
                    <th>上课时间段</th>
                    <th>最大人数</th>
                    <th>已选课人数</th>
                    <th>备注</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(record, index) in records">
                    <td>{{record.course_name}}</td>
                    <td>{{record.course_property|converterCourseProperty}}</td>
                    <td v-bind:style="{
                    'color': record.course_type != 0 ? 'darkblue': '',
                    'font-weight':record.course_type == 0 ? 'bold': ''
                    }">
                        {{record.course_type|converterCourseType}}
                    </td>
                    <td>{{record.course_credit}}</td>
                    <td>{{record.profession_name}}</td>
                    <td>{{record.building_name}}</td>
                    <td>星期{{record.course_weekday|converterWeekDayName}}</td>
                    <td>{{record.course_start_time|converterTime(record.course_type)}}</td>
                    <td v-if="record.course_max_people!=0">{{record.course_max_people}}</td>
                    <td v-else><b>不限</b></td>
                    <td>
                        <div v-if="record.selected_people>0">
                            {{record.selected_people}}
                        </div>
                        <div v-else>
                            <b>无</b>
                        </div>
                    </td>
                    <td>{{record.remark}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @click="deleteRecord(record)"
                                data-toggle="tooltip" data-placement="top"
                                title="删除"
                        >
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p v-show="records.length == 0"
           style="width: 100%; height: 200px; line-height: 200px; text-align: center; color: darkgray">
            暂无记录,请添加~~~</p>
    </div>

    <div class="modal fade" id="newitemmodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal content-->
                <div class="modal-header" style="padding:35px 35px;">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h1>开设课程</h1>
                </div>
                <div class="modal-body" style="padding: 35px 35px;">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-3">开课名称:</label>
                            <div class="col-sm-9">
                                <select v-model="current_course" class="form-control"
                                        v-bind:style="{'color': current_course.id == '' ? 'darkgray': '' }"
                                        v-on:change="onCourseChanged"
                                >
                                    <option v-for="course in courses" v-bind:value="course">
                                        {{course.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">课程属性:</label>
                            <div class="col-sm-9">
                                <input type="text" disabled="true" class="form-control"
                                       v-bind:value="current_course.course_property|converterCourseProperty"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">课程类别:</label>
                            <div class="col-sm-9">
                                <input type="text" disabled="true" class="form-control"
                                       v-bind:value="current_course.course_type|converterCourseType"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">学分:</label>
                            <div class="col-sm-9">
                                <input type="text" disabled="true" class="form-control"
                                       v-bind:value="current_course.course_credit"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">课程专业:</label>
                            <div class="col-sm-9">
                                <select v-model="newInfoModel.profession_id" class="form-control"
                                        v-bind:style="{'color': newInfoModel.profession_id =='' ? 'darkgray': '' }"
                                        v-on:change="onKeyUp"
                                >
                                    <option v-for="item in professions" v-bind:value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">上课地点:</label>
                            <div class="col-sm-9">
                                <select v-model="newInfoModel.building_id" class="form-control"
                                        v-on:change="onKeyUp"
                                        v-bind:style="{'color': newInfoModel.building_id =='' ? 'darkgray': '' }">
                                    <option v-for="item in buildings" v-bind:value="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">上课日期:</label>
                            <div class="col-sm-3">
                                <select v-model="newInfoModel.course_weekday" class="form-control"
                                        v-on:change="onKeyUp"
                                        v-bind:style="{'color': newInfoModel.course_weekday <= 0 ? 'darkgray': '' }">
                                    <option v-for="item in weekdays" v-bind:value="item.value">
                                        {{item.text|converterWeekDay(item.value)}}
                                    </option>
                                </select>
                            </div>
                            <label class="control-label col-sm-2">时间段:</label>
                            <div class="col-sm-4">
                                <select v-model="newInfoModel.course_start_time" class="form-control"
                                        v-on:change="onKeyUp"
                                        v-bind:style="{'color': newInfoModel.course_start_time <= 0 ? 'darkgray': '' }">
                                    <option v-for="item in courseTimes" v-bind:value="item.value">
                                        {{item.text}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">最大人数:</label>
                            <div class="col-sm-9" v-if="current_course.course_type != 0">
                                <select v-model="newInfoModel.course_max_people_id" class="form-control"
                                        v-on:change="onKeyUp"
                                        v-bind:style="{'color': newInfoModel.course_max_people <= 0 ? 'darkgray': '' }">
                                    <option v-for="item in maxPeoples" v-bind:value="item.value">
                                        {{item.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-9" v-else>
                                <input type="text" disabled="true" class="form-control" value="不限"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">备注:</label>
                            <div class="col-sm-9">
                        <textarea rows="3" class="form-control" v-model="newInfoModel.remark"
                                  style="height: 100px; text-align: left; "
                        >
                        </textarea>
                            </div>
                        </div>
                    </form>

                    <div class="alert alert-danger" v-if="isError" style="margin-top: 10px;padding: 5px;">
                        {{errorMsg}}!
                    </div>

                    <button type="button" style="margin-top: 15px;" class="btn btn-success btn-block"
                            v-on:click="onSubmit">
                        <span class="glyphicon glyphicon-saved"></span> 确 定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="submitMsg" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="text-align: left">
                    <h3>提示</h3>
                </div>
                <div class="modal-body" style="font-size: 20px">
                    <!-- 加上<form>标签可以使得modal窗口在点击按钮都自动dismiss-->
                    {{resultMsg}}!
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteConfirmMsg" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="text-align: left">
                    <h3>提示</h3>
                </div>
                <div class="modal-body" style="font-size: 18px;font-family: FontAwesome">
                    <!-- 加上<form>标签可以使得modal窗口在点击按钮都自动dismiss-->
                    确认要删除课程为<b>"{{selectInfo.course_name}}"</b>的记录吗？
                    <button type="submit" style="margin-top: 50px;font-size: 16px" class="btn btn-danger btn-block"
                            v-on:click="onConfirmDelete">确 定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(function () {
        $('#submitMsg').on('hidden.bs.modal', function () {
            document.location.reload();
        })
    });
    var appHeader = new Vue({
        el: '#divHeader',
        data: {
            currentuser: {},
            submitUrl: "{:U('teacher/ajaxLogout')}",
        },
        methods: {
            logout: function () {
                $.ajax({
                    url: this.submitUrl,
                    type: 'POST',
                    dataType: 'json',
//                    data: '',
                    success: function (result) {
                        if (result.status) {
                            window.location.href = "{:U('index/index')}";
                        }
                        else {

                        }
                    },
                })
            },
        },
        created: function () {
            this.currentuser = JSON.parse('{$currentuser}');
        },
        filters: {
            converterRole: function (role) {
                return getRoleName(role);
            },
        },
    });

    var app = new Vue({
        el: '#divApp',
        data: {
            searchUrl: "{:U('teacher/ajaxSearchData')}",
            filters: {
                teacher_id: '',
                course_id: '',
                course_type: -1,
                profession_id: '',
                building_id: '',
                course_weekday: 0,
                course_start_time: 0,
            },
            course_typeItems: [],

            courses: [],
            professions: [],
            buildings: [],
            weekdays: [],
            courseTimes: [],
            maxPeoples: [],
            current_course: {},

            isError: false,
            errorMsg: '',
            submitUrl: "{:U('teacher/ajaxAddTeacherCourse')}",
            newInfoModel: {
                teacher_id: '',
                course_id: '',
                profession_id: '',
                building_id: '',
                course_weekday: 0,
                course_start_time: 0,
                course_max_people_id: 0,
                course_max_people: 0,
                remark: '',
            },

            deleteUrl: "{:U('teacher/ajaxDeleteRecord')}",
            isToggleRecords: true,
            records: [],
            selectInfo: {},
            resultMsg: '',
        },
        filters: {
            converterCourseProperty: function (ctype) {
                if (isStringEmpty(ctype)) {
                    return '';
                }
                return getCoursePropertyName(ctype);
            },
            converterCourseType: function (ctype) {
                if (isStringEmpty(ctype)) {
                    return '';
                }
                return getCourseTypeName(ctype);
            },
            converterWeekDay: function (weekdayText, weekdayValue) {
                if (weekdayValue > 0) {
                    return "星期" + weekdayText;
                }
                return weekdayText;
            },
            converterTime: function (timevalue, course_type) {
                return course_type == 0 ?
                        getCourseTimeByMajor(timevalue) : getCourseTimeByElective(timevalue);

            },
            converterWeekDayName: function (dayvalue) {
                return getUpperStringNumber(dayvalue);

            },

        },
        methods: {
            loadyCourseWeekday: function () {
                var items = [];
                for (var i = 0; i < 6; i++) {
                    items[i] = {
                        text: getUpperStringNumber(i),
                        value: i,
                    }
                }
                return items;
            },

            loadyCourseTime: function (course_type) {
                var items = [];
                for (var i = 0; i < 5; i++) {
                    items[i] = {
                        text: parseInt(course_type) == 0 ?
                                getCourseTimeByMajor(i) : getCourseTimeByElective(i),
                        value: i,
                    }
                }
                return items;
            },

            loadyMaxPeoples: function () {
                var items = [];
                for (var i = 0; i < 5; i++) {
                    items[i] = {
                        text: getCourseMaxPeople(i),
                        value: i,
                    }
                }
                return items;
            },
            onAddNewCourse: function () {
                $("#newitemmodal").modal();
            },

            onShowOrHideRecords: function () {
                this.isToggleRecords = !this.isToggleRecords;
            },

            onCourseChanged: function () {
                this.courseTimes = this.loadyCourseTime(this.current_course.course_type);
                this.newInfoModel.course_id = this.current_course.id;
                this.verifyForm();
            },
            deleteRecord: function (item) {
                this.selectInfo = item;
                if (this.selectInfo) {
                    if (this.selectInfo.selected_people > 0) {
                        app.resultMsg = '此课程已被学生选课，无法删除';
                        $("#submitMsg").modal();
                    }
                    else {
                        $("#deleteConfirmMsg").modal();
                    }
                }
            },
            onConfirmDelete: function () {
                $("#deleteConfirmMsg").modal('hide');
                $.ajax({
                    url: this.deleteUrl,
                    type: 'POST',
                    dataType: 'json',
                    data: this.selectInfo,
                    success: function (result) {
                        var index = app.records.indexOf(app.selectInfo);
                        app.records.splice(index, 1);
//                        if (result.status) {
//                            document.location.reload();
//                        }
                        app.resultMsg = result.status ? '删除成功' : '删除失败';
                        $("#submitMsg").modal();
                    },
                })
            },

            onKeyUp: function () {
                this.verifyForm();
            },
            verifyForm: function () {
                this.isError = false;

                if (isStringEmpty(this.newInfoModel.course_id)) {
                    this.isError = true;
                    this.errorMsg = '请选择开课名称';
                }
                if (!this.isError && isStringEmpty(this.newInfoModel.profession_id)) {
                    this.isError = true;
                    this.errorMsg = '请选择专业';
                }
                if (!this.isError && isStringEmpty(this.newInfoModel.building_id)) {
                    this.isError = true;
                    this.errorMsg = '请选择上课地点';
                }
                if (!this.isError && this.newInfoModel.course_weekday <= 0) {
                    this.isError = true;
                    this.errorMsg = '请选择上课时间';
                }
                if (!this.isError && this.newInfoModel.course_start_time <= 0) {
                    this.isError = true;
                    this.errorMsg = '请选择上课时间段';
                }
                if (!this.isError && this.current_course.course_type != 0 && this.newInfoModel.course_max_people_id <= 0) {
                    this.isError = true;
                    this.errorMsg = '请选择上课最大人数';
                }
                if (!this.isError) {
                    this.isError = this.isErrorCourse();
                }
                if (!this.isError) {
                    this.isError = this.isRepeatCourse();
                }
                if (!this.isError) {
                    this.isError = this.isConflictCourseTime();
                }
            },

            //验证课程上课时间是否有冲突
            isConflictCourseTime: function () {
                var isConflict = false;
                for (var i = 0; i < this.records.length; i++) {
                    if (this.records[i].course_weekday == this.newInfoModel.course_weekday) {
                        if (this.records[i].course_start_time == this.newInfoModel.course_start_time) {
                            isConflict = true;
                        }
                        //都为必修时的可能时间 冲突
                        else if (this.records[i].course_type == 0 && this.newInfoModel.course_type == 0) {
                            if ((this.records[i].course_start_time <= 2 && this.newInfoModel.course_start_time <= 2)
                                    || (this.records[i].course_start_time > 2 && this.newInfoModel.course_start_time > 2)) {
                                isConflict = true;
                            }
                        }
                    }
                    if (isConflict)
                        break;
                }

                if (isConflict) {
                    this.errorMsg = "当前课程的上课时间和已开课程时间冲突，请重新选择上课时间";
                }
                return isConflict;
            },

            //验证课程是否有重复冲突
            isRepeatCourse: function () {
                var isRepeat = false;
                for (var i = 0; i < this.records.length; i++) {
                    isRepeat = this.records[i].course_id == this.newInfoModel.course_id
                            && this.records[i].profession_id == this.newInfoModel.profession_id;
                    if (isRepeat)
                        break;
                }
                if (isRepeat) {
                    this.errorMsg = "同一个课程在同一个专业只能开设一次，请重新选择";
                }
                return isRepeat;
            },

            //验证课程是否只有一种
            isErrorCourse: function () {
                var isError = false;
                for (var i = 0; i < this.records.length; i++) {
                    isError = this.records[i].course_id != this.newInfoModel.course_id;
                    if (isError)
                        break;
                }
                if (isError) {
                    this.errorMsg = "教师只允许上一门课，可以是不同专业，请重新选择";
                }
                return isError;
            },

            onSearchRecords: function () {
                $.ajax({
                    url: this.searchUrl,
                    type: 'POST',
                    dataType: 'json',
                    data: this.filters,
                    success: function (data) {
                        if (data.status) {
                            app.records = data.info;
                        }
                        else {
                        }
                    },
                })
            },

            onSubmit: function () {
                this.verifyForm();
                this.newInfoModel.course_max_people = getCourseMaxPeople(this.newInfoModel.course_max_people_id);
                if (!this.isError) {
                    $.ajax({
                        url: this.submitUrl,
                        type: 'POST',
                        dataType: 'json',
                        data: this.newInfoModel,
                        success: function (data) {
                            app.isError = data.status == 0;
                            if (!app.isError) {
                                app.resultMsg = '添加成功';
                                $("#submitMsg").modal();
                                //window.location.href = "{:U('admin/index')}";
                            }
                            else {
                                app.errorMsg = data.info;
                            }
                        },
                        error: function (errordata) {
                            app.resultMsg = '添加失败';
                            $("#submitMsg").modal();

                        },
                    })
                }
            },
        },

        created: function () {
            this.newInfoModel.teacher_id = appHeader.currentuser.id;
            this.courses = JSON.parse('{$courses}');
            this.courses.unshift
            ({
                id: "",
                name: '请选择',
            });
            this.current_course = this.courses[0];

            this.professions = JSON.parse('{$professions}');
            this.professions.unshift
            ({
                id: "",
                name: '请选择',
            });

            this.buildings = JSON.parse('{$buildings}');
            this.buildings.unshift
            ({
                id: "",
                name: '请选择',
            });

            this.weekdays = this.loadyCourseWeekday();

            this.courseTimes = this.loadyCourseTime(this.current_course.course_type);

            this.maxPeoples = this.loadyMaxPeoples();

            for (var i = 0; i < 2; i++) {
                this.course_typeItems[i] = {
                    id: i,
                    name: getCourseTypeName(i),
                };
            }
            this.course_typeItems.unshift
            ({
                id: -1,
                name: '请选择',
            });

            //load data
            this.onSearchRecords();

        },
    })
</script>